@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajout d'un fond global et d'un style général */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
